
// bower:scss
// endbower
body { 
    background-color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

img {
    display: block;
    background-size: cover;
    height: 250px;
    width: 300px;
}

.console {
    margin: 50px auto 0 auto;
    min-height: 500px;
    width: 900px;
    font-size: 18px;
    background-color: #eee;
    padding: 30px;
    
    .player-choices {

        h1 {
            font-size: 60px;
            line-height: 1;
            letter-spacing: -1px;
        }



        .character-container {
            float: left;
            overflow: hidden;
            margin: 10px 25px 0;
            width: 250px;
            height: 350px;
            color: #333;
            font-size: 12px;

            .button {
                margin: 20px 20px;
                padding: 20px 20px;
                border-radius: 5px;
                border: 2px solid #3D0099;
                background-color: #60F;
                color: #fff;
                font-size: 24px;
                cursor: pointer;
                text-align: center;

                &:hover {
                    background-color: #5200CC;
                }

                &:active {
                    background-color: #A366FF;
                    color: #333;
                }
            }
        }
    }

    .battle-menu {
        display: none;
        
        &.active {
            display: visible;
       

            h1 {
                font-size: 60px;
                line-height: 1;
                letter-spacing: -1px;
            }

            .player {
                background-color: red;
                float: left;
                overflow: hidden;
                margin: 10px 25px 0;
                width: 250px;
                height: 450px;
                color: #333;
                font-size: 12px;
                line-height: 1.2em;
            }

            .status {
                margin-top: 20px;
                text-align: center;
                font-size: 14px;
                color: #333;
            }

            .battle-button {

                margin: 10px 10px;
                padding: 10px 10px;
                border-radius: 5px;
                border: 1px solid #4C0F00;
                background-color: #B22400;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                text-align: center;

                &:hover {
                    background-color: #801A00;
                }

                &:active {
                    background-color: #F30;
                }
            }

            .versus > img {
                display: inline-block;
                float: left;
                margin: 100px 0 0 50px;
                width: 200px;
                height: 200px;
            }
             
            .villian-display {
                position: absolute;
                overflow: hidden;
                background-color: yellow;
                margin: 10px 25px 0;
                right: 30px;
                width: 250px;
                height: 450px;
                color: #333;
                font-size: 12px;
                line-height: 1.2em;

            } 

            .villian-status {
                margin-top: 20px;
                text-align: center;
                font-size: 30px;
                color: #333;
            }
        }  
    }
}



